<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testInitialLayoutOutlier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0052522</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 1:43:30 AM</string>
				</dict>
			</dict>
			<key>testInitialLayoutRealistic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0020057</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 1:43:30 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithChangedConstraintsOutlier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0070157</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 1:43:30 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithChangedConstraintsRealistic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0023413</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 1:43:30 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithNewConstraintsOutlier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0065826</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 1:43:30 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithNewConstraintsRealistic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0021822</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 1:43:30 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithNewViewsAndConstraintsOutlier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0077037</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 1:43:30 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithNewViewsAndConstraintsRealistic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0026691</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 1:43:30 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithSameLayoutOutlier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0066313</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 1:43:30 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithSameLayoutRealistic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0021303</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 1:43:30 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
