<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testInitialLayoutOutlier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0051906</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 2:18:21 AM</string>
				</dict>
			</dict>
			<key>testInitialLayoutRealistic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0018792</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 2:18:21 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithChangedConstraintsOutlier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0061145</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 2:18:21 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithChangedConstraintsRealistic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0021327</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 2:18:21 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithNewConstraintsOutlier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.005345</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 2:18:21 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithNewConstraintsRealistic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0018976</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 2:18:21 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithNewViewsAndConstraintsOutlier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0060274</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 2:18:21 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithNewViewsAndConstraintsRealistic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0020695</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 2:18:21 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithSameLayoutOutlier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.005763</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 2:18:21 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithSameLayoutRealistic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0020001</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 2, 2018 at 2:18:21 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
