<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testInitialLayout()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12485</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 4, 2018 at 11:16:07 PM</string>
				</dict>
			</dict>
			<key>testUpdatingWithChangedConstraints()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25595</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 4, 2018 at 11:16:07 PM</string>
				</dict>
			</dict>
			<key>testUpdatingWithNewConstraints()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.23483</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 4, 2018 at 11:16:07 PM</string>
				</dict>
			</dict>
			<key>testUpdatingWithNewViewsAndConstraints()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25169</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 4, 2018 at 11:16:07 PM</string>
				</dict>
			</dict>
			<key>testUpdatingWithSameLayout()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25504</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 4, 2018 at 11:16:07 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
