<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testInitialLayout()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.12384</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 5, 2018 at 2:19:25 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithChangedConstraints()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.16784</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 5, 2018 at 2:19:25 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithNewConstraints()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.15115</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 5, 2018 at 2:19:25 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithNewViewsAndConstraints()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.16743</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 5, 2018 at 2:19:25 AM</string>
				</dict>
			</dict>
			<key>testUpdatingWithSameLayout()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.16637</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jul 5, 2018 at 2:19:25 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
